body{
    margin: -10px;
    font-family: "Sarabun", Times, serif;
}

.index {
    padding: 18vh 0 30vh 0;
    background-color: #f2f6fd;
}

.content {
    display: flex;
    margin: 0 10vh;
    align-items: center;
}

.left {
    width: 400px;
    margin: auto;
}

.logo {
    color: #0066FF;
    font-family: "Poppins", Times, serif;
    font-size: 52px;
}

.left h2 {
    font-size: 26px;
    font-weight: 400;
}

.right {
    margin: auto;
}

.login {
    width: 360px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input {
    display: block;
    font-size: 20px;
    border-radius: 7px;
    margin-bottom: 13px;
}

input[type=text],
[type=password] {
    padding: 13px 20px;
    width: 318px;
    border: 1px solid rgb(223, 223, 223);
}

input[type=submit] {
    display: block;
    color: rgb(240, 240, 240);
    font-weight: 800;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #0066FF;
    width: 100%;
}

.register {
    margin: 20px 0 4px 0;
}

.register button {
    border: none;
    border-radius: 7px;
    background-color: rgb(13, 184, 7);
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    margin: auto;
}

.register a {
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 20px;
}

.right p {
    text-align: center;
}

.right p:last-child a:last-child {
    color: rgb(0, 0, 0);
}

.right p:last-child {
    margin-top: 28px;
}

.pass a {
    color: blue;
}

input:focus {
    box-shadow: 0px 0px 1px 1px rgba(0, 153, 255, 0.336);
}

.right p a:hover {
    text-decoration: underline;
}

hr {
    border: 0.1px solid rgb(224, 224, 224);
}

.footer {
    margin: 0 11%;
}

.language i {
    color: gray;
}

.service i {
    color: rgba(41, 41, 172, 0.856);
}

li button {
    border: 1px solid rgb(187, 187, 187);
    cursor: pointer;
}

ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    font-size: 14px;
    line-height: 25px;
}

.language li {
    padding-right: 12px;
}

.service li {
    padding-right: 20px;

}

.footer a,
.footer p {
    color: #8c8c8c;
}

a:link {
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
}

@media(max-width: 800px) {

    .index {
        padding: 10vh 0vh 20vh 0vh;
    }

    .content {
        margin: 0;
        flex-direction: column;
    }

    .left {
        text-align: center;
    }

    .login {
        margin-top: 20px;
    }

    .footer {
        margin-top: 0;
        padding: 0vh 3vh;
    }
}